
.card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.data{
    background-color:#fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    transition: 0.3s ease;
}

.data:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.page{
     background-color: #f6f6f6;
}

.page input{
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    border: none;
    background-color: #f6f6f6;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.options{
    display: flex;
    justify-content: center;
}

.options button{
    margin-left: 100px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    height: 35px;
}

.options button.active{
    background-color: rgb(231, 56, 70);
    color: white;
}

.data{
   background-color:#fff;
    margin:15px;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    display: flex;
}

.imdiv{
    height: 105px;
    background-color: #fff7f7;
    padding: 3px;
    border-radius: 20px;
    margin-right: 25px;
    margin-top: 20px;
}
 
.im{
    border-radius: 50%;
    width: 90px;
    height: 90px;

}

.data h4{
   font-family: Arial, Helvetica, sans-serif;
}

#p{
  color: red;
  font-size: 20px;
  font-weight: bold;

}

.para{
    display:flex;

}

.para button{
    background-color: rgb(231, 56, 70);
    border-radius: 5px;
    color: aliceblue;
    border: none;
    margin-top: 15px;
    margin-left:70px;
    width: 120px;
    height: 30px;
}

.text{
    font-size: 14px;
    color: rgb(118, 121, 121);
}


#btn{
    border-radius: 2px;
    background-color: rgb(242, 60, 60);
    color: aliceblue;
}

